

:root{
    --orange:#FF900E;
    --ash:#727272;
}

*{
    margin: 0 auto;
    font-family: 'Work Sans';
}

header{
    background: rgba(255, 144, 14, 0.1);
    max-width: 1800px;
}

/* -----------------
nav style suru 
----------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;

}
nav h1{
    font-size: 45px;
    font-weight: 700;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.5em;
}
/*----------------
 nav style sesh 
 ----------------*/

 /*----------------
 brand style start 
 ----------------*/
.brand{
    align-items: center;
}
.brand-info{
    width: 850px;
    text-align: center;
    padding-top: 70px;
}
.brand-info h1 {
    font-weight: 700;
    font-size: 64px;
}
.brand-info p{
    color: var(--ash);
    padding: 32px 10px;
}

.button{
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(242, 238, 238);
    position: relative;
    margin-left: 45%;
}
.brand img {
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 5% 10%;
}
/*---------------------------
 brand and header section sesh 
 --------------------------*/


 /*------------------
 features section start 
 -------------------*/

 .features{
    margin-top: 50px;
    max-width: 1400px;
    display: flex;
    column-gap: 50px;
 }
 .img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 10px;
    column-gap: 10px;

 }
 .info-container{
    position: relative;
 }
 .info{
    position: relative;
    top: 37%;
    width: 537px;
    height: 304px;
 }
 .info .button{
    margin-left: 0;
 }
 .info h1{
    width: 450px;
    margin: 0;
    font-size: 45px;
    padding-bottom: 20px; 
 }
 .info p{
    color: var(--ash);
    padding-bottom: 20px;

 }
 .ash{
    color:var(--ash) ;

 }
 .orange{
    color: var(--orange);
 }

 /*------------------
 second section start 
 -------------------*/

.second-section {
    display: flex;
    column-gap: 120px;
    margin-top: 100px;
    max-width: 1400px;
}
.description{
    width: 100%;
 
}
.description .title{
    padding: 1px 15px;
    margin: 0;
    width: 100%;
    height: 106px;
    font-weight: 700;
    font-size: 29px;
    color: #131313;
    padding-bottom: 20PX;
    border: 5px solid white;
    border-left-color: var(--orange);
    
}
.description P{
    padding-top: 20PX;
    width: 100%;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: var(--ash);    
}
.description-box{
    width: 586px;
    height: 160px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 35px;
}
.description-box h2{
    font-size: 25px;
}
.description-box p{
    font-size: 20px;
    width: 100%;
}
.experience{
    position: relative;
    width: 342px;
    height: 200px;
    background:var(--orange);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 0%;
    margin-top: -100px;
    color: white;
}
 /*------------------
 second section end 
 -------------------*/

/*------------------
 third section start 
 -------------------*/

.third-secion , .fourth-section{
    position: relative;
    max-width: 1400px;
}
.title h1{
    font-weight: 700;
    font-size: 45px;
    padding: 15px 15px;

}
.title p{
    position: absolute;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--ash);
    width: 540px;
    
}
.flex-box{
    position:relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.box{
    width: 240px;
    height: 240px;
    border: 1px solid var(--orange);
    border-radius: 8px;
}
.box-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
}
.box-info h1 , .sponspors h1 , .fifth-section h1{
    font-size: 45px;
}
.box-info p , .sponspors p, .fifth-section p{
    font-size: 20px;
    color: var(--ash);
}
.sponspors p{
    padding: 20px 5px;
}
/* for animation */

@keyframes rotate {
    form{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);

    }
}
.rotate:hover{
    animation-name: rotate;
    animation-timing-function: linear;
    animation-duration: 2s;
}

/*------------------
 third section end 
 -------------------*/
/*------------------
 fourth section start 
 -------------------*/
 .sponspors , .fifth-section{
    width: 542px;
    height: 129px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
 }
 .logo{
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    filter: grayscale(100%);
 }
 /*------------------
 fourth section end 
 -------------------*/
 .fifth-section{
    height: 100%;
 }
 .fifth-section h1{
    margin-top: 60px;
 }
 .fifth-section P{
    padding: 20PX 1PX;
 }
 .member{
    margin: o;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    justify-content: space-between;
    row-gap: 20px;
 }
.team img{
    width: 300px;
    height: 250px;
    margin: 20px 5px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(18, 17, 17, 0.123);
}
.team h2{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}
/*------------------
 fifth section end 
 -------------------*/


/* footer suru */
 footer{
    background: rgba(255, 143, 14, 0.224);
    width: 1400px;
    height: 100px;
 }
 footer p{
    font-size: 20px;
    color: var(--ash);
    text-align: center;
    padding-top: 35px;
 }
/*------------------
 footer section end 
 -------------------*/

@media screen and (max-width:576px) {

    *{
        margin: 0 0;
        max-width: 100%;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }
    nav ul{
       flex-direction: column;
       margin-left: -15%;
    }
    .brand-info{
        width: 100%;
    }
    .brand-info h1{
        font-size: 36px;
    }
    .button{
        position: relative;
        margin-left: 30%;
        width: 150px;
        height: 50px;
        margin-bottom: 3%;
    }
    .brand img {
        position: relative;
        width: 80%;
        height: 80%;
    }

    /* header sesh kora hoice */

    .features{
        display: flex;
        flex-direction: column;
        padding: 5px 20px;
        width: 90%;
    }
    .info{
        margin: 0;
        padding: 0;
        width: 90%;
        height: 50%;
        padding-left: 5%;
        padding-top: 35px;
    }
    .info p{
        width: 95%;
        height: 30%;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        justify-items: center;
     
    }
    /* second-section */
    .second-section{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 10%;
    }
    .description{
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    .description h1{
        font-size: 39px;
        /* width: 90%; */
    }
    .description P {
        width: 100%;
        height: 100%;
    }
    .description .title{
        height: 100%;
        width: 90%;
    }
    .description-box {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        margin: 0;
        margin-left: -30px;
    }
    .archi-img img{
        width: 98%;
        padding-top: 30%;
        padding-bottom: 10%;
    }
    .experience{
        position: relative;
        width: 160px;
        height: 120px;
        margin: 5% 25%;
        font-size: 20px;
    }
    /* third-secion */
    .title p{
        width: 90%;
    }
    .flex-box{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    /* .fourth-section */
    .logo{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        justify-items: center;
        padding-top: 20px;
    }
    .logo img{
        width: 110px;
        height: 40px;
    }
    /*.fifth-section */
    .member{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        justify-items: center;
        row-gap: 10px;
    }

}