

:root{
    --orange:#FF900E;
    --ash:#727272;
}

*{
    margin: 0 auto;
    font-family: 'Work Sans';
}

header{
    background: rgba(255, 144, 14, 0.1);
    max-width: 1800px;
}

/* nav style suru */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;

}
nav h1{
    font-size: 45px;
    font-weight: 700;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 1.2em;
}
/* nav style sesh */
.brand{
    align-items: center;
}
.brand-info{
    width: 850px;
    text-align: center;
    padding-top: 70px;
}
.brand-info h1 {
    font-weight: 700;
    font-size: 64px;
}
.brand-info p{
    color: var(--ash);
    padding: 32px 10px;
}

.button{
    background-color: var(--orange);
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 64px;
    font-size: 1.3em;
    font-weight: 500;
    color: rgb(242, 238, 238);
    position: relative;
    margin-left: 45%;
}
.brand img {
    position: relative;
    width: 1400px;
    height: 700px;
    margin: 5% 10%;
}
 /* header section sesh */

 .features{
    margin-top: 50px;
    max-width: 1400px;
    display: flex;
    column-gap: 50px;
 }
 .img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    row-gap: 10px;
    column-gap: 10px;

 }
 .info-container{
    position: relative;
 }
 .info{
    position: relative;
    top: 37%;
    width: 537px;
    height: 304px;
 }
 .info .button{
    margin-left: 0;
 }
 .info h1{
    width: 450px;
    margin: 0;
    font-size: 45px;
    padding-bottom: 20px; 
 }
 .info p{
    color: var(--ash);
    padding-bottom: 20px;


 }
 .ash{
    color:var(--ash) ;

 }
 .orange{
    color: var(--orange);
 }

/* second section suru */

.second-section {
    display: flex;
    column-gap: 120px;
    margin-top: 100px;
    max-width: 1400px;
}
.description{
    width: 100%;
 
}
.description .title{
    padding: 1px 15px;
    margin: 0;
    width: 100%;
    height: 106px;
    font-weight: 700;
    font-size: 29px;
    color: #131313;
    padding-bottom: 20PX;
    border: 5px solid white;
    border-left-color: var(--orange);
    
}
.description P{
    padding-top: 20PX;
    width: 100%;
    height: 78px;
    font-weight: 400;
    font-size: 16px;
    color: var(--ash);    
}
.description-box{
    width: 586px;
    height: 160px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 35px;
}
.description-box h2{
    font-size: 25px;
}
.description-box p{
    font-size: 20px;
    width: 100%;
}
.experience{
    position: relative;
    width: 342px;
    height: 200px;
    background:var(--orange);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-left: 0%;
    margin-top: -100px;
    color: white;
}
/* end of second section */

.third-secion{
    position: relative;
    max-width: 1400px;
}
.title h1{
    font-weight: 700;
    font-size: 45px;
    padding: 15px 15px;

}
.title p{
    position: absolute;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: var(--ash);
    width: 540px;
    
}
.flex-box{
    position:relative;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.box{
    width: 240px;
    height: 240px;
    border: 1px solid var(--orange);
    border-radius: 8px;
}
.box-info{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    /* border: 1px solid; */
}
.box-info h1{
    font-size: 45px;
}
.box-info p{
    font-size: 20px;
    color: var(--ash);
}


@media screen and (max-width:576px) {

    *{
        margin: 0 0;
        max-width: 100%;
    }
    header{
        width: 100%;
    }
    nav{
        display: flex;
        flex-direction: column;
        row-gap: 15px;

    }
    nav ul{
       flex-direction: column;
       margin-left: -15%;
    }
    .brand-info{
        width: 100%;
    }
    .brand-info h1{
        font-size: 36px;
    }
    .button{
        position: relative;
        margin-left: 30%;
        width: 150px;
        height: 50px;
        margin-bottom: 3%;
    }
    .brand img {
        position: relative;
        width: 80%;
        height: 80%;
    }

    /* header sesh kora hoice */

    .features{
        display: flex;
        flex-direction: column-reverse;
        padding: 5px 20px;
        width: 90%;
    }
    .info{
        margin: 0;
        padding: 0;
        width: 90%;
        height: 50%;
        padding-left: 5%;
    }
    .info .button{
        margin-bottom: 10%;
    }
    .info p{
        width: 95%;
        height: 30%;
    }
    .img-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
        justify-items: center;
     
    }
    .second-section{
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    .description{
        width: 90%;
        height: 100%;
        margin-left: 5%;
    }
    .description h1{
        font-size: 39px;
        /* width: 90%; */
    }
    .description P {
        width: 100%;
        height: 100%;
    }
    .description .title{
        height: 100%;
        width: 90%;
    }
    .description-box {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        margin: 0;
        margin-left: -30px;
    }
    .archi-img img{
        width: 100%;
        padding-top: 30%;
        padding-bottom: 10%;
    }
    .experience{
        position: relative;
        width: 160px;
        height: 120px;
        margin: 5% 30%;
        font-size: 20px;
    }
    .title p{
        width: 90%;
    }
    .flex-box{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

}